h2, h3, h4 {
  margin: 1.5em 0em;
}

.overview {
  border-left: 4px solid rgba(var(--color-highlight));
  padding-left: 1em;
  margin: 1em;
}

/* general info about how icons should render (see https://fontawesome.com/v5.15/how-to-use/on-the-web/advanced/css-pseudo-elements) */
/* upgraded to 6 https://fontawesome.com/docs/web/setup/upgrade/pseudo-elements#contentHeader */
.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}


.answer,
.behind-the-scenes,
.care,
.cool-fact,
.help,
.history,
.important,
.learn-more,
.options,
.warning
{
  position: relative;
  padding: 1em 1em 1em 1em;
  margin: 3rem 0rem;
  display: table;
  border: 1px solid rgba(var(--color-highlight));
  width = 100%;
}

.answer:before,
.behind-the-scenes:before,
.care:before,
.cool-fact:before,
.help:before,
.history:before,
.important:before,
.learn-more:before,
.options:before,
.warning:before
{
  display: table-cell;
  vertical-align: middle;
  padding: inherit;
  font: var(--fa-font-solid);
  font-size: 2.5em;
  color: rgb(var(--color-highlight));
}

.answer span:first-child:before,
.behind-the-scenes span:first-child:before,
.care span:first-child:before,
.cool-fact span:first-child:before,
.help span:first-child:before,
.history span:first-child:before,
.important span:first-child:before,
.learn-more span:first-child:before,
.options span:first-child:before,
.warning span:first-child:before,
.answer p:first-child:before,
.behind-the-scenes p:first-child:before,
.care p:first-child:before,
.cool-fact p:first-child:before,
.help p:first-child:before,
.history p:first-child:before,
.important p:first-child:before,
.learn-more p:first-child:before,
.options p:first-child:before,
.warning p:first-child:before,
.answer figure:first-child:before,
.behind-the-scenes figure:first-child:before,
.care figure:first-child:before,
.cool-fact figure:first-child:before,
.help figure:first-child:before,
.history figure:first-child:before,
.important figure:first-child:before,
.learn-more figure:first-child:before,
.options figure:first-child:before,
.warning figure:first-child:before
{
  white-space: pre;
  font-weight: bold;
  color: rgb(var(--color-highlight));
}

.answer:before {
  content: "\f058";
}

.answer p:first-child:before,
.answer span:first-child:before,
.answer figure:first-child:before {
  content: "Solution \A\A";
  white-space: pre;
}

.behind-the-scenes:before {
  content: "\f085";
}

.behind-the-scenes p:first-child:before,
.behind-the-scenes span:first-child:before,
.behind-the-scenes figure:first-child:before {
  content: "Behind the scenes \A\A";
  white-space: pre;
}

.care:before {
  content: "\f4be";
}

.care p:first-child:before,
.care span:first-child:before,
.care figure:first-child:before {
  content: "A little encouragement \A\A";
  white-space: pre;
}

.cool-fact:before {
  content: "\f5dc";
}

.cool-fact p:first-child:before,
.cool-fact span:first-child:before,
.cool-fact figure:first-child:before {
  content: "Did you know? \A\A";
  white-space: pre;
}

.help:before {
  content: "\f059";
}

.help p:first-child:before,
.help span:first-child:before,
.help figure:first-child:before {
  content: "Troubleshooting help \A\A";
  white-space: pre;
}

.history:before {
  content: "\f1da";
}

.history p:first-child:before,
.history span:first-child:before,
.history figure:first-child:before {
  content: "Historical context \A\A";
  white-space: pre;
}

.important:before {
  content: "\f005";
}

.important p:first-child:before,
.important span:first-child:before,
.important figure:first-child:before {
  content: "Important note \A\A";
  white-space: pre;
}

.learn-more:before {
  content: "\f518";
}

.learn-more p:first-child:before,
.learn-more span:first-child:before,
.learn-more figure:first-child:before {
  content: "Learning connection \A\A";
  white-space: pre;
}

.options:before {
  content: "\f337";
}

.options p:first-child:before,
.options span:first-child:before,
.options figure:first-child:before {
  content: "Another option \A\A";
  white-space: pre;
}

.warning:before {
  content: "\f071";
}

.warning p:first-child:before, 
.warning span:first-child:before,
.warning figure:first-child:before {
  content: "Warning! \A\A";
  white-space: pre;
}


.lia_header__logo {
  display: none;
}

.lia-header__middle {
  background: url(https://github.com/arcus/education_fellows/raw/main/img/chop-logo.svg);
  background-repeat: no-repeat;
}

.lia-quote{
  position: relative;
  padding-left: 5rem;
  margin: 3rem 0rem;

}
.lia-quote:before {
    display: block;
    padding-left: 1rem;
    content: "\201C";
    font-size: 7rem;
    position: absolute;
    left: 0rem;
    top: -1rem;
    color: rgb(var(--color-highlight));
}

.lia-code--inline {
    border: 0px;
    margin-bottom: 0;
    padding: 0px;
    font-size: 0.9em;
    color: rgb(var(--color-text));
    background: rgba(var(--lia-grey),0.2);
}

.lia-list--unordered
  > li:before {
    content: "\25CF";
}


.icon-compile-circle:before {
content: "\f144";
font-family: "Font Awesome 5 Free";
}
