h2, h3, h4 {
  margin: 1.5em 0em;
}

.overview {
  border-left: 4px solid rgba(var(--color-highlight));
  padding-left: 1em;
  margin: 1em;
}

.hint {
  background-color: rgba(var(--lia-success),.15);
  padding: 1em;
  border: 2px dashed rgba(var(--color-highlight));
  margin: 1em;
}


.important {
  /*border-top: 6px solid rgba(var(--color-highlight));*/
  position: relative;
  padding: 1em 1em 1em 5rem;
  margin: 3rem 0rem;
}

.important:before {
  display: block;
  content: "*";
  font-size: 7rem;
  position: absolute;
  left: 0rem;
  top: -1rem;
  color: rgb(var(--color-highlight));
}

.answer {
  /*border-top: 6px solid rgba(var(--color-highlight));*/
  position: relative;
  padding: 1em 1em 1em 5rem;
  margin: 3rem 0rem;
}

.answer:before {
  display: block;
  content: "+";
  font-size: 7rem;
  position: absolute;
  left: 0rem;
  top: -1rem;
  color: rgb(var(--color-highlight));
}

.warning {
  /*border-top: 6px solid rgba(var(--color-highlight));*/
  position: relative;
  padding: 1em 1em 1em 5rem;
  margin: 3rem 0rem;
}

.warning:before {
  display: block;
  content: "!";
  font-size: 7rem;
  position: absolute;
  left: 0rem;
  top: -1rem;
  color: rgb(var(--color-highlight));
}

.learnmore {
  /*border-top: 6px solid rgba(var(--color-highlight));*/
  position: relative;
  padding: 1em 1em 1em 5rem;
  margin: 3rem 0rem;
}

.learnmore:before {
  display: block;
  content: "?";
  font-size: 7rem;
  position: absolute;
  left: 0rem;
  top: -1rem;
  color: rgb(var(--color-highlight));
}

.options {
  /*border-top: 6px solid rgba(var(--color-highlight));*/
  position: relative;
  padding: 1em 1em 1em 5rem;
  margin: 3rem 0rem;
}

.options:before {
  display: block;
  content: "&";
  font-size: 7rem;
  position: absolute;
  left: 0rem;
  top: -1rem;
  color: rgb(var(--color-highlight));
}

.lia_header__logo {
  display: none;
}

.lia-header__middle {
  background: url(https://github.com/arcus/education_fellows/raw/main/img/chop-logo.svg);
  background-repeat: no-repeat;
}

.lia-quote{
  position: relative;
  padding-left: 5rem;
  margin: 3rem 0rem;

}
.lia-quote:before {
    display: block;
    padding-left: 1rem;
    content: "\201C";
    font-size: 7rem;
    position: absolute;
    left: 0rem;
    top: -1rem;
    color: rgb(var(--color-highlight));
}

.question{
  /*background-color: rgba(var(--lia-yellow),.15);*/
  border: 1px solid rgba(var(--color-highlight));
  position: relative;
  padding: 1em 1em 1em 5rem;
  margin: 3rem 0rem;

}
.question:before {
    display: block;
    padding-left: 1rem;
    content: "?";
    font-size: 7rem;
    position: absolute;
    left: 0rem;
    top: -1rem;
    color: rgb(var(--color-highlight));
}

.lia-code--inline {
    border: 1px solid;
    color: rgb(var(--color-text))
    margin-bottom: 0;
    padding: 0 0.5rem;
}
