name: Check for incomplete alt text 
on:
  workflow_dispatch:
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize]

jobs:
  check-alt-text:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check markdown for alt text presence 
        uses: ruthtxh/markdown-image-alt-text-checker@v1
        with:
          owner: ${{ github.repository_owner }}
          repo: ${{ github.event.repository.name }}
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.head_ref || github.ref_name }}
          sha: ${{ github.sha }}